@model IEnumerable<ProjectReports.Models.Shifts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FristWorker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondWorker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FristWorker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondWorker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
